@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-layout';
// @import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-grid';
@import 'basscss-flexbox';
// @import 'basscss-position';
// @import 'basscss-border';
// @import 'basscss-hide';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  margin: 0;
  color: var(--theme-text);
  background-color: var(--theme-background);
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--theme-primary);
  }
}

.color-inherit {
  color: inherit;
}

.black {
  color: var(--black);
}

.white {
  color: #fff;
}

.gray {
  color: var(--theme-gray);
  transition: color 0.25s ease-in-out;
}

:root {
  --theme-text: #000;
  --theme-background: #fff;
  --theme-primary: hsl(240, 100%, 57%);
  --theme-secondary: hsl(260, 100%, 57%);
  --theme-accent: hsl(280, 100%, 57%);
  --theme-muted: #f9f9fc;
  --theme-gray: #808080;
}

@media (--breakpoint-md) {
  .lg-px4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
