@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-layout';
// @import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-grid';
@import 'basscss-flexbox';
// @import 'basscss-position';
// @import 'basscss-border';
// @import 'basscss-hide';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  margin: 0;
  color: #111;
  background-color: #fff;
}

.hover-underline:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: initial;

  &:hover {
    color: #2424ff;
  }
}

.inline-flex {
  display: inline-flex;
}

.color-inherit {
  color: inherit;
}

.black {
  color: var(--black);
}

.white {
  color: #fff;
}

.blue {
  color: var(--blue);
}

.gray {
  color: var(--gray);
}

.darken {
  color: var(--darken);
}

:root {
  --gray: #ccc;
  --blue: #07c;
  --black: #111;
  --darken: rgba(0, 0, 0, 0.0625);
}

@media (--breakpoint-md) {
  .lg-px4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
